@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-dark-blue: #2d114b;
  --color-blue: #572192;
  --color-light-blue: #8a3cdd;
  --color-brown: #864b1e;
  --color-brique: #bd672e;
  --color-beige: #dad3c0;
  --color-dark: #17181a;
  --color-grey: #7f8082;
  --color-light: #f5f1ee;

  --color-true: #127429;
  --accent-true: rgba(44, 217, 44, 0.07);
  --color-false: #971414;
  --accent-false: rgba(217, 47, 44, 0.07);
  --accent-selected: rgba(212, 163, 115, 0.32);

  --font-montserrat: "Montserrat", sans-serif;
  --font-cabin: "Cabin", sans-serif;
}
